[run]
omit =
    */migrations/*
    */tests/*
    */test_*
    manage.py
    */__init__.py
    */settings/*
    */wsgi.py
    */asgi.py

[report]
omit =
    */migrations/*
    */tests/*
    */test_*
    manage.py
    */__init__.py
    */settings/*
    */wsgi.py
    */asgi.py